*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(img/2157.png);
    background-size: 100%;
}
.header{
    background-image: url(img/bgheader.jpg);
    background-size: cover;
    background-position-y: 600px;
    padding: 30px;
    text-align: center;
    color: #ddd;
    text-shadow: 2px 2px 5px red;
}

.nav{
    overflow: hidden;
    background-image: url(img/bgnavtest.jpg);
    background-size: 100%;
    background-position-y: 310px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.nav a{   
    font-family: sans-serif;
    float: left;
   display: block;
   color: rgb(255, 255, 255);
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   text-shadow: 3px 3px 6px rgb(0, 0, 0);
}

.nav a:hover{
    background-color: rgb(75, 111, 231);
    color: rgb(0, 0, 0);
}

img {
    width: 100%; /* need to overwrite inline dimensions */
    height: auto;
  }
h2 {
    margin-bottom: .5em;
    text-align: center;
  }

.kaki{
  font-size: big;
  overflow: hidden;
  background-color: aqua;
  bottom:0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;    

}
.about{
  font-size: large;
  text-align: center;
  color: #ddd;
  font-family: sans-serif;
}
.sosmed{
  font-family: sans-serif;
  text-align: center;
  font-size: x-large;
  padding: 14px 16px;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(255, 64, 223);
  bottom: 3;
  width: 100%;
  color: white;
}
.sosmed a:hover{
  background-color: rgb(75, 111, 231);
    color: rgb(255, 255, 255);
}

